@model InAndOut.Database.TblFilm

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">@ViewBag.Film.FilmName (@Convert.ToDateTime(ViewBag.Film.FilmReleaseDate).Year)</h1>
                    <!-- Post categories-->@foreach (var item in ViewBag.Genres) {<a style="font-size:20px" class="badge badge-pill badge-info ml-2 mt-2 text-white  ">@item.Genre.GenreName</a>}
                </header>
                <!-- Preview film trailer-->
                <embed allow="fullscreen;"  width="720" height="400" class=" rounded" src="https://www.youtube.com/embed/@ViewBag.Film.FilmTrailer" alt="Movie Trailer">
                <!-- Post content-->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">About @ViewBag.Film.FilmName</h2>
                    <p class="fs-5 mb-4">@ViewBag.Film.FilmSynopsis</p>
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-3">Actors of  @ViewBag.Film.FilmName </h3>
                        </div>
                        <div class="col-6 text-right">
                            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                <i class="text-white display-6"><</i>
                            </a>
                            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                <i class="text white display-6">></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            @foreach (var actor in ViewBag.Actors)
                                            {
                                                <div class="col-md-4 mb-3">
                                                    <div class="card">

                                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                                        <div class="card-body">
                                                            <h4 class="card-title">@actor.Actor.ActorName</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">

                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">           
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Movie Subtitles</div>
                <div class="card-body">
                    <div class="row">
                       
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                @foreach (var item in ViewBag.Language)
                                {
                                    <li class="text-black-50">@item.Language.Language</li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Buy Now Price: <i style="font-size:30px" class=" text-success">@ViewBag.Film.FilmPrice.ToString("C")</i></div>
                <div class="card-body">
                    <button class="btn btn-secondary d-block mb-3">Using Account Balance</button>
                    <button class="btn btn-secondary d-block mb-3">Using Credit Card</button>
                    <button class="btn btn-secondary d-block mb-3">Using PayPal</button>


                </div>
            </div>
        </div>
    </div>
</div>
