@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Home Page";
}
@using InAndOut.Models.ViewModels;
@model List<ListMoviesViewModel>;

<div class="text-center">
    <h1 class="display-4">MovieEzy</h1>

    <div class="container-fluid p-0 m-0
                align-items-center
                justify-content-center d-flex"
         style="min-height: 100vh;">

        <!-- Row for the card-->
        <div class="row w-100 p-0 w-0">

            <!-- Column for card-->
            @foreach (var item in Model)
            {
                <div class="card fl mx-auto mb-3" style="width:18rem;">
                    <img class="card-img-top" src="@item.FilmImage"
                         alt="Card image cap">

                    <div class="card-bod flex-column d-flex">
                        <h5 class="card-title">
                            @item.FilmName
                        </h5>
                        <p class="card-text">
                            @item.FilmSynopsis
                        </p>
                        <a asp-controller="Movie" asp-action="Index" asp-route-id="@item.FilmId" class="btn btn-success align-self-end mt-auto mb-3 btn-block ">
                            Show Details
                        </a>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                        <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.FilmId" class="btn btn-info align-self-end mt-auto mb-3 btn-block ">
                            Edit Movie Details
                        </a>
                        <a asp-controller="Home" asp-action="Remove" asp-route-id="@item.FilmId" class="btn btn-danger align-self-end mt-auto mb-3 btn-block ">
                            Remove Movie
                        </a>
                        }
                    </div>
                </div>
            }


        </div>

    </div>
</div>


