@model InAndOut.Database.TblFilm

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove</h1>

<h3>Are you sure you want to delete this movie @Html.DisplayNameFor(model => model.FilmName) ?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmLanguageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmLanguageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmCountryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmCountryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmStudioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmStudioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmSynopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmSynopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmRunTimeMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmRunTimeMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmCertificateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmCertificateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmBudgetDollars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmBudgetDollars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmBoxOfficeDollars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmBoxOfficeDollars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmOscarNominations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmOscarNominations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmOscarWins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmOscarWins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmGenreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmGenreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmCastId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmCastId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmActor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmActor.ActorId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDirector.DirectorId)
        </dd class>
    </dl>
    
    <form asp-action="Remove">
        <input type="hidden" asp-for="FilmId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
